@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #f6f6f6;
}

.jobs-container {
  margin-bottom: 3vh;
}

.job-link-container {
  color: black;
}
.job-link-container:hover {
  text-decoration-line: none;
  color: black;
}

.job-card-container {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  padding: 2vh;
  /* margin: 10px; */
  margin: 2vh;
  height: 90%;
  /* width: 100%; */
  box-shadow: 1px 1px #ddd;
  transition: box-shadow 0.3s;
  /* background-color: #f6f6f6; */
  background-color: white;
}

.job-card-container:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  background-color: #ececec;
  cursor: pointer;
}

.job-title {
  font-weight: 700;
}

.job-details {
  font-size: 14px;
  font-weight: 500;
  color: #838383;
}

.job-location {
  font-size: 12px;
  font-weight: bold;
  color: #9400d3;
}

.job-main-info {
  height: 50%;
}

/* job details css*/
.job-details-container-inner {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  padding: 5vh;
  /* margin: 10px; */
  /* margin: 2vh; */
  height: 100%;
  /* width: 100%; */
  box-shadow: 1px 1px #ddd;
  transition: box-shadow 0.3s;
  /* background-color: #f6f6f6; */
  background-color: white;
}

.job-details-inner {
  font-size: 14px;
  font-weight: 500;
  color: #838383;
  margin-bottom: 0;
}

/* 
.apply-now {
  justify-self: center; */
/* align-self: center;
  position: relative;
} */

.apply-now-btn {
  background-color: #9400d3;
  border: 1px solid white;
}
.apply-now-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid #9400d3;
}
.job-title-inner {
  font-size: 26px;
  font-weight: 700;
}

.job-desc {
  font-size: 14px;
  margin: 3vh 0;
}

@media screen and (max-width: 990px) {
  .job-details-container-main {
    width: 80%;
    margin: 5vh auto;
  }
}
@media screen and (min-width: 991px) {
  .job-details-container-main {
    width: 50%;
    margin: 5vh auto;
  }
}

.pagination-container {
  padding: 4vh 6vh;
  cursor: pointer;
  background-color: #9400d3;
}

.search-form {
  padding: 3vh 6vh;
  background-color: #9400d3;
  color: white;
}
